openapi: 3.2.0
info:
  title: Eaton Smart Breaker Devices API
  description: REST API (formerly the Energy Management / EM API) for Eaton AbleEdge Smart Breakers and Eaton Green Motion EV Smart Breaker Chargers.
  version: 1.0.0
  contact:
    name: Eaton AbleEdge Developer Portal
    url: https://portal.em.eaton.com/
  license:
    name: Eaton Brightlayer Experience Hub Terms
    url: https://www.eaton.com/us/en-us/company/policies-and-statements/brightlayer-experience-hub-terms-and-conditions.html
  x-source: https://api.em.eaton.com/docs
  x-spec-status: reconstructed-from-public-docs
servers:
- url: https://api.em.eaton.com
  description: Production
- url: https://api.em.eaton.com/preview
  description: Preview (forward-looking, opt-in)
security:
- OAuth2: []
  SubscriptionKey: []
tags:
- name: Devices
  description: Smart breakers and EV chargers (emcb, ev-emcb).
paths:
  /api/v1/devices:
    get:
      tags:
      - Devices
      summary: List Devices
      description: List devices, optionally filtered by location.
      parameters:
      - in: query
        name: locationId
        schema:
          type: string
          format: uuid
      - in: query
        name: hardwareType
        schema:
          type: string
          enum:
          - emcb
          - ev-emcb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
      operationId: getApiV1Devices
      x-operation-id-source: derived
  /api/v1/devices/{deviceId}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags:
      - Devices
      summary: Get Device
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
      operationId: getApiV1DevicesByDeviceId
      x-operation-id-source: derived
    delete:
      tags:
      - Devices
      summary: Decommission Device
      responses:
        '204':
          description: Device decommissioned
      operationId: deleteApiV1DevicesByDeviceId
      x-operation-id-source: derived
  /api/v1/devices/{deviceId}/state:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags:
      - Devices
      summary: Get Device State
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceState'
      operationId: getApiV1DevicesByDeviceIdState
      x-operation-id-source: derived
components:
  schemas:
    Device:
      type: object
      required:
      - id
      - locationId
      - hardwareType
      properties:
        id:
          type: string
          format: uuid
        locationId:
          type: string
          format: uuid
        hardwareType:
          type: string
          enum:
          - emcb
          - ev-emcb
        sku:
          type: string
        serialNumber:
          type: string
        chargerStationId:
          type:
          - string
          - 'null'
        name:
          type: string
        firmwareVersion:
          type: string
    DeviceState:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
        position:
          type: string
          enum:
          - open
          - closed
          - tripped
        connectivity:
          type: string
          enum:
          - online
          - offline
        lastReportedAt:
          type: string
          format: date-time
  parameters:
    DeviceId:
      in: path
      name: deviceId
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.em.eaton.com/oauth2/token
          scopes: {}
    SubscriptionKey:
      type: apiKey
      in: header
      name: Em-Api-Subscription-Key
