openapi: 3.2.0
info:
  title: Eaton Smart Breaker EV Only API
  description: REST API (formerly the Energy Management / EM API) for Eaton AbleEdge Smart Breakers and Eaton Green Motion EV Smart Breaker Chargers.
  version: 1.0.0
  contact:
    name: Eaton AbleEdge Developer Portal
    url: https://portal.em.eaton.com/
  license:
    name: Eaton Brightlayer Experience Hub Terms
    url: https://www.eaton.com/us/en-us/company/policies-and-statements/brightlayer-experience-hub-terms-and-conditions.html
  x-source: https://api.em.eaton.com/docs
  x-spec-status: reconstructed-from-public-docs
servers:
- url: https://api.em.eaton.com
  description: Production
- url: https://api.em.eaton.com/preview
  description: Preview (forward-looking, opt-in)
security:
- OAuth2: []
  SubscriptionKey: []
tags:
- name: EV Only
  description: Operations supported only by Eaton EV Smart Breaker Chargers.
paths:
  /api/v1/ev/{deviceId}/sessions:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags:
      - EV Only
      summary: List EV Charging Sessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChargingSession'
      operationId: getApiV1EvByDeviceIdSessions
      x-operation-id-source: derived
  /api/v1/ev/{deviceId}/sessions/{sessionId}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - EV Only
      summary: Get EV Charging Session
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSession'
      operationId: getApiV1EvByDeviceIdSessionsBySessionId
      x-operation-id-source: derived
components:
  schemas:
    ChargingSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        deviceId:
          type: string
          format: uuid
        startedAt:
          type: string
          format: date-time
        endedAt:
          type:
          - string
          - 'null'
          format: date-time
        energyDelivered:
          type: number
          description: Watt-hours
        peakPower:
          type: number
          description: Watts
        status:
          type: string
          enum:
          - active
          - completed
          - faulted
          - cancelled
  parameters:
    DeviceId:
      in: path
      name: deviceId
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.em.eaton.com/oauth2/token
          scopes: {}
    SubscriptionKey:
      type: apiKey
      in: header
      name: Em-Api-Subscription-Key
