openapi: 3.2.0
info:
  title: Eaton Smart Breaker Organizations API
  description: REST API (formerly the Energy Management / EM API) for Eaton AbleEdge Smart Breakers and Eaton Green Motion EV Smart Breaker Chargers.
  version: 1.0.0
  contact:
    name: Eaton AbleEdge Developer Portal
    url: https://portal.em.eaton.com/
  license:
    name: Eaton Brightlayer Experience Hub Terms
    url: https://www.eaton.com/us/en-us/company/policies-and-statements/brightlayer-experience-hub-terms-and-conditions.html
  x-source: https://api.em.eaton.com/docs
  x-spec-status: reconstructed-from-public-docs
servers:
- url: https://api.em.eaton.com
  description: Production
- url: https://api.em.eaton.com/preview
  description: Preview (forward-looking, opt-in)
security:
- OAuth2: []
  SubscriptionKey: []
tags:
- name: Organizations
  description: Tenant organizations that own devices and users.
paths:
  /api/v1/organizations:
    get:
      tags:
      - Organizations
      summary: List Organizations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
      operationId: getApiV1Organizations
      x-operation-id-source: derived
  /api/v1/organizations/{organizationId}:
    parameters:
    - $ref: '#/components/parameters/OrganizationId'
    get:
      tags:
      - Organizations
      summary: Get Organization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      operationId: getApiV1OrganizationsByOrganizationId
      x-operation-id-source: derived
components:
  parameters:
    OrganizationId:
      in: path
      name: organizationId
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.em.eaton.com/oauth2/token
          scopes: {}
    SubscriptionKey:
      type: apiKey
      in: header
      name: Em-Api-Subscription-Key
