openapi: 3.2.0
info:
  title: Eaton Smart Breaker Energy Data API
  description: REST API (formerly the Energy Management / EM API) for Eaton AbleEdge Smart Breakers and Eaton Green Motion EV Smart Breaker Chargers.
  version: 1.0.0
  contact:
    name: Eaton AbleEdge Developer Portal
    url: https://portal.em.eaton.com/
  license:
    name: Eaton Brightlayer Experience Hub Terms
    url: https://www.eaton.com/us/en-us/company/policies-and-statements/brightlayer-experience-hub-terms-and-conditions.html
  x-source: https://api.em.eaton.com/docs
  x-spec-status: reconstructed-from-public-docs
servers:
- url: https://api.em.eaton.com
  description: Production
- url: https://api.em.eaton.com/preview
  description: Preview (forward-looking, opt-in)
security:
- OAuth2: []
  SubscriptionKey: []
tags:
- name: Energy Data
  description: Real-time and historical energy telemetry.
paths:
  /api/v1/devices/{deviceId}/energy:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags:
      - Energy Data
      summary: Get Device Energy Telemetry
      parameters:
      - in: query
        name: start
        schema:
          type: string
          format: date-time
      - in: query
        name: end
        schema:
          type: string
          format: date-time
      - in: query
        name: interval
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 15m
          - 1h
          - 1d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnergyReading'
      operationId: getApiV1DevicesByDeviceIdEnergy
      x-operation-id-source: derived
components:
  schemas:
    EnergyReading:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        current:
          type: number
          description: Amps
        voltage:
          type: number
          description: Volts
        frequency:
          type: number
          description: Hertz
        activePower:
          type: number
          description: Watts
        energy:
          type: number
          description: Watt-hours consumed in the interval
  parameters:
    DeviceId:
      in: path
      name: deviceId
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.em.eaton.com/oauth2/token
          scopes: {}
    SubscriptionKey:
      type: apiKey
      in: header
      name: Em-Api-Subscription-Key
