openapi: 3.2.0
info:
  title: Eaton Smart Breaker Events API
  description: REST API (formerly the Energy Management / EM API) for Eaton AbleEdge Smart Breakers and Eaton Green Motion EV Smart Breaker Chargers.
  version: 1.0.0
  contact:
    name: Eaton AbleEdge Developer Portal
    url: https://portal.em.eaton.com/
  license:
    name: Eaton Brightlayer Experience Hub Terms
    url: https://www.eaton.com/us/en-us/company/policies-and-statements/brightlayer-experience-hub-terms-and-conditions.html
  x-source: https://api.em.eaton.com/docs
  x-spec-status: reconstructed-from-public-docs
servers:
- url: https://api.em.eaton.com
  description: Production
- url: https://api.em.eaton.com/preview
  description: Preview (forward-looking, opt-in)
security:
- OAuth2: []
  SubscriptionKey: []
tags:
- name: Events
  description: Device events, alarms, and notifications.
paths:
  /api/v1/devices/{deviceId}/events:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags:
      - Events
      summary: List Device Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceEvent'
      operationId: getApiV1DevicesByDeviceIdEvents
      x-operation-id-source: derived
components:
  schemas:
    DeviceEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        deviceId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - trip
          - overcurrent
          - undervoltage
          - overvoltage
          - offline
          - online
          - commandFailed
          - custom
        severity:
          type: string
          enum:
          - info
          - warning
          - error
          - critical
        timestamp:
          type: string
          format: date-time
        message:
          type: string
  parameters:
    DeviceId:
      in: path
      name: deviceId
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.em.eaton.com/oauth2/token
          scopes: {}
    SubscriptionKey:
      type: apiKey
      in: header
      name: Em-Api-Subscription-Key
